


@keyframes git {
0% {
transform: scale(1);
}
100%{
transform: scale(1.05);
}
}
#quiz-btn{
width: 30%;
height: 30px;
text-align: center;
background-image: linear-gradient(to left, salmon, red);
padding: 10;
border-radius: 4px 5px black;
font-size: 1.2rem;
font-weight: bold;
position: center
;
}

#quiz-btn:hover{ 
 background-image: salmon;
color: white;
 animation-name: git;
animation-duration: 0.2s;
animation-timing-function: ease-in-out;
animation-iteration-count: infinite;
-o-animation-direction: alternate;

}